* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

:root {
    --color-title: #437a36;
    --color-font1: white;
    --shadow-green: #52794ac5;
    --color-transparent: #ffffff47;
    --color-hover-green: #50a63d;;
}

*,body,html {
    scroll-behavior: smooth;
}

.bg-shadow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.5s;
}

.hero {
    background-image: url('imagenes/hr-image.gif');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__content {
    position: relative;
    z-index: 1;
}

/* Hero Nav content */
header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 3px solid var(--color-title);
    flex-wrap: wrap;
}

.header__nav__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header__title {
    color: var(--color-title);
    font-size: 2rem;
}

.nav__item {
    color: var(--color-title);
    font-size: 1.3rem;
    transition: color 0.5s ease;
}

.nav__item:hover {
    color: var(--color-hover-green);
    text-decoration: underline;
}
/* Hero Nav end */


/* Hero content */
.h-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: var(--color-font1);
}

.h-info__subtitle {
    font-size: 1.6rem;
}

.h-info__title {
    font-size: 2.5rem;
}

.h-info__nav {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Normal item */
.h-info__nav__item {
    background-color: var(--color-title);
    font-size: 1.4rem;
    color: white;
    padding: 5px;
    border-radius: 3px;
    border: transparent 1px solid;
    transition:
        transform 0.7s ease,
        box-shadow 0.7s ease,
        background-position 0.5s ease,
        backgroud-color 1s ease;
}

.h-info__nav__item:hover {
    background-color: var(--color-transparent);
    border: var(--color-font1) 1px solid;
    transform: scale(1.04);
    box-shadow: 0 0 15px 5px var(--color-transparent);
}


/* transparent item */
.nav__item--transparent {
    background-color: var(--color-transparent);
    transition:
        transform 0.7s ease,
        box-shadow 0.7s ease,
        background-position 0.5s ease,
        backgroud-color 1s ease;
    border: 1px solid var(--color-font1);

}

.nav__item--transparent:hover{
    background-color: var(--color-title);
    border: transparent 1px solid;
    transform: scale(1.04);
    box-shadow: 0 0 15px 5px var(--shadow-green);
}
/* Hero end */


/* Section projects */
.projects{
    padding: 1.2rem;

}

.content-projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-top: 1.3rem;
}

.project__item {
    background-color: white;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.5s;
    text-align: justify;
    border: var(--color-hover-green) solid 1px;
}

.project__item:hover {
    transform: translateY(-3px);
    box-shadow:var(--shadow-green) 0px 3px 8px;
}

.project__title{
    color: var(--color-title);
    text-align: center;
    font-size: 1.6rem;
}

.projects__text{
    text-align: center;
    font-size: 1.3rem;
}

.project__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project__button {
    background-color: var(--color-title);
    color: white;
    border: none;
    padding: 0.5rem 1.3rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 10px;

    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease,
        background-position 0.5s ease,
        backgroud-color 1s ease;
}

.project__button:hover {
    background-color: var(--color-hover-green);
    box-shadow: 0 0 10px 5px var(--color-hover-green);
}

.project__text{
    font-size: 1.1rem;
    margin-bottom: 10px ;
}
/* Section projects end*/

/* About me */
.about{
    background-color: var(--color-title) ;
    /* background-color: #4a5a1c; */
    /* background-color: #538736; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about__title{
    font-size: 2.2rem;
    color: var(--color-font1);
    text-align: center;
    margin-bottom: 20px;
    
}

.about__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about__main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 20px;
    
}

.about__img{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px var(--color-hover-green);
    border: solid 2px var(--shadow-green);
}

.about__name{
    font-size: 2rem;
    color: var(--color-font1);
    font-weight:bolder;
}

.about__profession{
    color: var(--color-font1);
    font-size: 1.4rem;
    text-decoration: underline;
}

.about__info{
    font-size: 1.1rem;
    color: var(--color-font1);
}

/* About me end */

/* Contact */
footer{
    background-color: var(--color-font1);
    /* border-top:orange solid 3px ; */
}

.footer__container{
    /* width: 100%; */
    padding: 70px 30px 20px;
}

.footer__networks{
    display: flex;
    justify-content: center;
}

.footer__networks a{
    text-decoration: none;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
}

.footer__networks a i{
    font-size: 25px;
    color: var(--color-font1);
    opacity: 0.9;
}



.footer__networks a i:hover{
    color: var(--color-title);
    transition: 0.5s;
}

.footer__nav{
    margin: 30px 0;
}

.footer__nav ul{
    display: flex;
    justify-content: center;
}
.footer__nav ul li a{
    color: black;
    list-style: none;
    margin: 20px;
    text-decoration: none;
    font-size: 23px;
    opacity: 0.8;
    transition: 0.5s;
}

.footer__nav ul li a:hover{
    opacity: 1;
    color: var(--color-title);
}


.footer_bottom{
    background-color: var(--color-title);
    padding: 20px;
    text-align: center;
    color: var(--color-font1);
}




@media (max-width:1050px){
    .about__main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 20px;
}
}


@media (max-width:780px){
    .about__main{
    width: 100%;
    
}
}


@media (max-width:530px){
    .about__main{
    width: 100%;
    flex-direction: column;
    text-align: justify;
    
}

    .nav__item{
        font-size:1.1rem;
    }

    .h-info__title {
    font-size: 2.2rem;
}
}








